.container {
  margin: 0;
  padding: 0 56px;

  .separator {
    background: #888888;
    mix-blend-mode: normal;
    opacity: 0.5;
    height: 2px;
    border: 1px solid #080707;
    margin-bottom: 20px;
  }
}
